a{
	text-decoration: none;
}
#controller{
	margin: 0 auto;
}
.btn {
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 2px solid #aaa;
}
.btn:hover,.btn-visited {
	border: 2px solid blue;
}
.btn-red {
	background-color: red;
}
.btn-blue {
	background-color: blue;
}
.btn-green {
	background-color: green;
}
.btn-yellow {
	background-color: yellow;
}
.btn-black {
	background-color: black;
}
.btn-clear {
	float: right;
	width: 60px;
	height: 40px;
	margin: 0;
	line-height: 40px;
	text-align: center;
	color: #666;
	background-color: #eee;
	border-radius: 5px;
}